.pie {
    background-color: #333;
    padding: 5rem;
    font-size: 1rem;
    &-logo-caja {
        text-align: center;
    }
    &-logo {
        width: 6rem;
        height: auto;
        clip-path: ellipse(48% 53% at 50% 53%);
        }
    &-navegacion nav {
        width: 100%;
        border-top: 1px solid $gris-claro;
        padding: 2rem 0 0 0;
        word-spacing: 3rem;
        transition: all .3s;
    }
    &-navegacion nav a {
        font-family: Arial, Helvetica, sans-serif;
        color: $blanco;
        text-decoration: none;
        font-size: 1.1rem;
        display: inline-block;
        &:hover,
        &:active {
            color: $verde-claro;
            font-weight: 900;
            box-shadow: 0 1rem 2rem rgba($negro, .5);
        }
    }
    &-copyright {
        padding: 2rem 0 0 0;
        width: 100%;
        color: $blanco;
        margin: 10px;
        border-top: 1px solid $gris-claro;
        padding: 2rem 0 0 0;

    }
    &.fila .col-2 {
        padding: 2rem 0 0 0;

        display: inline;
        justify-items: right;

    }
}

