// Declaracion de variables de colores

$verde-claro: #99ec8b;
$verde-medio: #55c57a;
$verde-oscuro: #12a172;
$azul-claro: #70b6f7;
$azul-oscuro: #3521f0;
$naranja-claro: #ffcb3c;
$naranja-oscuro: #ff7730;
$gris-claro: #f3e9e9;
$gris-oscuro: #777;
$negro: #000;
$blanco: #fff;